.banner {
    height: 11rem;
    margin-top: 1em;
    background-color: #cce1f3;
    border-bottom: 0.2rem solid #99c2e8;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: block;
    min-width: 768px;
}

.homeicon {
    margin: 10px;    
}

.containerBreadcrumbs {
    display: flex;
    align-items: center;
}

.containerInfo {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.containerInfo2 {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.infoIcon {
    margin-right: 1rem;
    width: 24px;
    height: 24px;
}

.lenke {
    color: #0067c5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.kontaktskjemaInside {
    padding: 3.5rem 1.25rem;
    background-color: #fff;
    min-height: 50rem;
    max-width: 400rem;
}

.infoText {
    margin: 0;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
}

.banner-inside {
    max-width: 992px;
    height: 100%;
    display: flex; /* Use flexbox to enable flexible layout */
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.title-kontaktskjema {
    font-family: "Source Sans Pro",Arial,sans-serif;
    /*min-width: 30em;*/
    min-width: 10em;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin-right: 10px;
    vertical-align: bottom;
    overflow: visible;
}

.title-picture {
    min-width: 768px;
    margin-bottom: -1px;
    height: 9rem;
    overflow: visible;
}

.input-fields {
    max-width: 500px;
    padding: 0.5rem;
}

.info-popup {
    border: 1px solid #5690a2;
    background-color: #e0f5fb;
    display: flex;
    border-radius: 0.25rem;
    margin: right 5px;
}

.navds-radio__label {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 48px;
    cursor: pointer;
    padding: 10px; /* Add padding to create space around each option */
    border: 1px solid #a0a0a0; /* Add a border around each option */
    border-radius: 4px; /* Add rounded corners */
    transition: background-color 0.3s; /* Smooth background color transition */
}