.banner {
    height: 11rem;
    margin-top: 1em;
    background-color: #cce1f3;
    border-bottom: 0.2rem solid #99c2e8;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: block;
    min-width: 768px;
}

.homeicon {
    margin: 10px;    
}

.errorText {
    display: block;
    color: #ba3a26;
    margin: 0;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 600;
    margin-top: 8px;
    gap: 0.5rem;
}

.errorText:before {
    content: "• ";
}

.containerBreadcrumbs {
    display: flex;
    align-items: center;
}

.containerInfo {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.containerInfo2 {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.infoIcon {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 24px;
    height: 24px;
}

.lenke {
    color: #0067c5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.kontaktskjemaInside {
    padding: 1.5rem 1.25rem;
    background-color: #fff;
    min-height: 50rem;
    max-width: 400rem;
}

.infoText {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    max-width: 600px;
}

.infoTextStandard {
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    max-width: 600px;
}

.radioText {
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.banner-inside {
    max-width: 992px;
    height: 100%;
    display: flex; /* Use flexbox to enable flexible layout */
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.radio-buttons {
    border: 1px solid #78706a;
    border-radius: 0.25rem;
    max-width: 250px;
    padding-inline-start: 1rem;
}

.radio-buttons:hover {
    background-color: #cce1f3;
    box-shadow: 4px 4px 0 0 lightgray;
}

.radio-buttons-checked {
    background-color: #cce1f3;
    box-shadow: 0 0 0 2px #00347d;
}

.title-kontaktskjema {
    font-family: "Source Sans Pro",Arial,sans-serif;
    /*min-width: 30em;*/
    min-width: 10em;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin-right: 10px;
    vertical-align: bottom;
    overflow: visible;
}

.title-picture {
    min-width: 768px;
    margin-bottom: -1px;
    height: 9rem;
    overflow: visible;
}

.input-fields {
    max-width: 500px;
    padding: 0.5rem;
}

.info-popup {
    border: 1px solid #5690a2;
    background-color: #e0f5fb;
    display: flex;
    border-radius: 0.25rem;
    margin: right 5px;
    margin-bottom: 1rem;
    max-width: 700px;
    padding: 5px;
}

.navds-radio__label {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 48px;
    cursor: pointer;
    padding: 10px; /* Add padding to create space around each option */
    border: 1px solid #a0a0a0; /* Add a border around each option */
    border-radius: 4px; /* Add rounded corners */
    transition: background-color 0.3s; /* Smooth background color transition */
}

.navds-text-field__readonly:disabled,
.navds-text-field__readonly:read-only,
.navds-text-field__readonly {
    background-color: lightgray;
    border-color: #a0a0a0;
    box-shadow: none;
    color: #262626;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
}

.breadcrumb {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.listElement {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.333;
    color: #0067c5;
}

.listElement:focus {
    outline: none;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: rgba(0, 52, 125, 1);
    box-shadow: 0 0 0 2px rgba(0, 52, 125, 1);
}
.pBedrift {
    display: none;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    max-width: 600px;
    padding: 0.5rem;
}

span {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.333;
    color: #262626;
}